/.venv
/assignment1.py
/brace_tracker.py
/checked_companies.txt
/coding.py
/coding_assignment.py
/companies.txt
/compare_cpp_files.py
/dict.py
/file1.cpp
/file2.cpp
/file_content.txt
/for_loop.py
/hello_world.py
/lists.py
/log_braces.py
/menu_practise.py
/myName.py
/pseudo code
/result.py
/set.py
/string_opr.py
/test_companies.txt
/tuple.py